@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  scroll-behavior: smooth;
  background-color: #f7f9f6;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

body:has(dialog[open]) {
  overflow: hidden;
}
